.pageNav li
{
	list-style-type:none;
}

.pageNav li input.hover
{
	background-color:#FDFDFD;
	color:black;
}

.pageNav li input
{
	background-color:#2E4372;
}

.sortSelect
{
	display:table;
	float:right;
	padding-right:10px;
	list-style-type:none;
}
