@import url(https://fonts.googleapis.com/css?family=Cinzel);
@import url('https://fonts.googleapis.com/css?family=Cinzel|Open+Sans+Condensed:300');

.navbar-brand
{
	font-family:'Cinzel', serif !IMPORTANT;
	font-size:35px !IMPORTANT;
	color: #FFDF00 !IMPORTANT;
	
}

#myToolbar
{
	border-style:none;
	border-bottom-style:groove;
	border-width:2px;
	border-color:#FFDF00;
}


#navbar
{
	font-family: 'Open Sans Condensed', sans-serif !IMPORTANT;
	font-size: 25px !IMPORTANT;
}

#navbar ul li a
{
	color:#FFDF00 !IMPORTANT;
}

 ul li a:hover
{
	color:#EACD00 !IMPORTANT;
}

.navbar-brand:hover
{
	color:#EACD00 !IMPORTANT;
}

.footercenter
{
	margin:0 auto;
	text-align:center;
	display:table;
}

.navbar-toggle.collapsed
{
	color:#FFDF00 !IMPORTANT;
	border:none !IMPORTANT;
}

.icon-bar
{
	background-color:#FFDF00 !IMPORTANT;
}

.footer ul
{
	list-style-type:none;
	padding:0;
	margin:0;
}

.footer li
{
	float:left;
	font-size:17px;
}
.footer li a
{
	text-decoration:none;
	display:inline-block;
	text-align:center;
	padding-right:15px;
	font-family:'Open Sans Condensed', sans-serif;

}

.toolbar li a.icon {display:none;}

/*@media screen and (max-width:680px)
{

	.toolbar li a:not(.Sophists) {display:none;}
	.toolbar li a.icon 
	{
		display:inline-block;
	}
}

@media screen and(max-width:680px)
{
	.toolbar.responsive {position: relative;}
	.toolbar.responsive li.icon
	{
		position:absolute;
		right:0;
		top:0;	
	}

	.toolbar.responsive li
	{
		float:none;
		display:inline;
	}

	.toolbar.responsive li a
	{
		display:block;
		text-align:left;
	}
}*/
