@import url(https://fonts.googleapis.com/css?family=Cinzel);
@import url('https://fonts.googleapis.com/css?family=Cinzel|Open+Sans+Condensed:300');
.toolbackg
{	
	padding-bottom:30px;
}

.toolbar ul
{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	
}

.toolbar
{
	background-color:#2E4372;
	border-bottom-style:groove;
	border-width:2px;
	border-color:#FFDF00;
	padding:0;
}
.toolbarx
{
	width:100%;
}

.left_align li
{
	float:left;
	
}

.right_align li
{
	float:right;
	padding-right:10px;
}
.toolbar li a
{	
	display: inline-block;
	text-align:center;
	transition: 0.3s;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:10px;
	padding-bottom:13px;
	text-decoration: none;
	color:#FFDF00;
	
	
}

.toolbar li a:hover
{
}

.rest
{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	padding-top:3px;
	padding-left:70px;
}

.rest2
{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	padding-left:70px;
}
.footercenter
{
	margin:0 auto;
	text-align:center;
	display:table;
}

.title
{
	font-style:'Cinzel', serif;
	font-size:35px;
}


.footer ul
{
	list-style-type:none;
	padding:0;
	margin:0;
}

.footer li
{
	float:left;
}
.footer li a
{
	text-decoration:none;
	display:inline-block;
	text-align:center;
	padding-right:15px;
	font-family:'Open Sans Condensed', sans-serif;

}

.toolbar li a.icon {display:none;}

@media screen and (max-width:680px)
{

	.toolbar li a:not(.Sophists) {display:none;}
	.toolbar li a.icon 
	{
		display:inline-block;
	}
}

@media screen and(max-width:680px)
{
	.toolbar.responsive {position: relative;}
	.toolbar.responsive li.icon
	{
		position:absolute;
		right:0;
		top:0;	
	}

	.toolbar.responsive li
	{
		float:none;
		display:inline;
	}

	.toolbar.responsive li a
	{
		display:block;
		text-align:left;
	}
}
