//Colors
$color-gold:#FFDF00;
$color-blue:#2E4372;
// Body
$body-bg: #FDFFFF;

// Borders

// Brands
$brand-primary: #2E4372;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: $color-gold;
$brand-danger:  #bf5329;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-family-title:"Cizel", serif;
$font-size-base: 15px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: $color-blue;
$navbar-default-link-color: $color-gold;
$dropdown-bg: $navbar-default-bg;
$dropdown-link-hover-bg: darken($dropdown-bg, 20%);
$navbar-default-link-hover-bg: darken($navbar-default-bg, 20%);

// Buttons
$btn-primary-color: #FFDF00;
$btn-warning-color: $color-blue;
$input-color: $color-blue;

// Inputs
$input-border: lighten($input-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($input-color, 30%);

// Panels
$panel-default-heading-bg:$color-blue;
$panel-heading-font: "Raleway", sans-serif;
$panel-heading-font-color: $color-gold;

