
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Cinzel);
@import url('https://fonts.googleapis.com/css?family=Cinzel|Open+Sans+Condensed:300');

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.hideOverflow
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width:10em;
}
